@charset "utf-8";
/* CSS Document */

.company-single{}
.company-single .company-cover{
  max-height: 220px;
  overflow: hidden;
}
.company-single .company-cover img{
  width: 100%;
  height: auto;
}



.company-single .company-header{
  background: #efefef;
  padding: 15px 15px;
}

.company-single .company-header .thumb {
  margin-bottom: 20px;
}

.company-single .company-header .thumb img {
  border-radius: 0;
  box-shadow: none;
}




.company-single .company-header .logo {
  display: inline-block;
  height: 80px;
  overflow: hidden;
  width: 80px;
  float: left;
}


.company-single .company-header .logo img {
  border-radius: 0;
  box-shadow: none;
  height: auto;
  width: 100%;
}

.company-single .header-intro{
  margin-left:90px;
}

.company-single .company-title{
  font-size: 18px;
  font-weight: bold;
}
.company-single .company-tagline{}
.company-single .company-local{}




.company-single .company-header .name {
  display: inline-block;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.company-single .company-header .tagline {
  display: block;
  font-size: 13px;
  font-weight: normal;
}

.company-single .company-header .local {
  display: block;
  font-size: 13px;
  font-weight: normal;
}


.company-single .company-header .follow {
  float: right;
}

.company-single .company-header .follow .follow-button {
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 2px -1px rgb(153, 153, 153);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 3px 13px;
}

.company-single .company-header .follow .follow-button:hover {
  box-shadow: 0 0 5px -1px rgb(153, 153, 153);

}


.company-single .company-header .follow .follower-list .follower {
  display: inline-block;
  height: 40px;
  margin: 0 2px;
  overflow: hidden;
  width: 40px;
}

.company-single .company-header .follow .follower-list .follower img {
  height: auto;
  width: 100%;
}


.company-single .company-header .follow .follower-list {
  text-align: right;
}

.company-single .reviews-list{}
.company-single .review-item{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.company-single .comment-author-avatar{
  display: inline-block;
  /* float: left; */
  border-radius: 5px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  vertical-align: top;
  margin-right: 10px;
}


.company-single .comment-author-avatar img{

  width: 100%;
  height: auto;
}

.company-single .comment-author{
  font-weight: bold;
  /* float: left; */
  display: inline-block;
}

.company-single .comment-rate{
  float: right;
  margin-bottom: 10px;
  font-style: italic;
  color: #ffd601e8;
}

.company-single .comment-date{
  font-size: 14px;
  font-weight: normal;
}
.company-single .comment-content{
  display: block;
  /* clear: both; */
  /* background: #eaeaea; */
  padding: 10px 0;
  /* border-radius: 30px; */
  /* border-top-left-radius: 0; */
  /* margin-top: 15px; */
}
.company-single .comment-list .comment{
  font-size: 12px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}














.company-single .reviews {
  margin: 15px 0;
}

.company-single .reviews .ratings {
  background: rgba(0, 0, 0, 0) url("star-gray.png") repeat scroll 0 0;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  vertical-align: top;
  width: 96px;
}

.company-single .reviews .reviews-list {
  margin: 20px 0;
}

.company-single .reviews .reviews-list li {
  display: inline-block;
  list-style: outside none none;
  margin: 0;
}

.company-single .reviews .reviews-list li .thumb {
  display: inline-block;
  float: left;
  height: 40px;
  margin-right: 20px;
  overflow: hidden;
  vertical-align: top;
  width: 40px;
}

.company-single .reviews .reviews-list li .thumb img {
  height: auto;
  width: 100%;
}

.company-single .reviews .reviews-list li .comment {
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  text-align: left;
  vertical-align: top;
}

.company-single .reviews .reviews-list li .rate {

  font-size: 13px;
}


.company-single .reviews .ratings-des {
  background: #ddd none repeat scroll 0 0;
  display: inline-block;
  font-size: 12px;
  margin-left: 15px;
  padding: 2px 10px;
  position: relative;
  vertical-align: top;
}
.company-single .reviews .ratings-des:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #ddd;
	border-width: 6px;
	margin-top: -6px;
}



.company-single .reviews .ratings .rate {
  background: rgba(0, 0, 0, 0) url("star.png") repeat scroll 0 0;
  height: 18px;
}

.company-single .reviews .reviews-input {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2147483647;
}

.company-single .reviews .reviews-input .input-form {
  background: #fff none repeat scroll 0 0;
  margin: 100px auto 0;
  padding: 20px;
  position: relative;
  text-align: left;
  width: 500px;
}


.company-single .reviews .reviews-input .input-form textarea {
  width: 80%;
}

.company-single .reviews .reviews-input .input-form .submit {
  background: rgb(255, 73, 10) none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 3px 15px;
  margin-bottom: 15px;
}

.company-single .reviews .reviews-input .input-form .submit.loading {
  background: rgba(255, 73, 10, 1) url("loading.gif") no-repeat scroll 6px 8px;
  padding: 3px 15px 3px 35px;
}



.company-single .reviews .reviews-input .input-form .close {
  background: rgb(255, 73, 10) none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  padding: 1px 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.company-single .reviews .reviews-input .message {
  font-size: 12px;
}

.company-single .company-overview{
    margin-bottom: 15px;
}
.company-single .overview-item{
    margin-right: 20px;
    font-size: 14px;
    width: 45%;
    display: inline-block;
    margin: 5px 0;
}


.company-single .mission {
  background: #ddd none repeat scroll 0 0;
  font-size: 14px;
  font-style: italic;
  line-height: inherit;
  margin: 20px 0;
  padding: 10px;
}



.company-single .company-header .description{}

.company-single .company-header .job-list-header{}


.company-single .related-company-container {}


.company-single .related-company-container .single-company {
  display: inline-block;
  font-size: 13px;
  padding: 10px;
  vertical-align: top;
  width: 170px;
  word-wrap: break-word;
}


.company-single .related-company-container .single-company .thumb {
  margin-bottom: 10px;
  max-height: 50px;
  overflow: hidden;
  width: 50px;
}
.company-single .related-company-container .single-company img {
  border-radius: 0;
  box-shadow: none;
}

.company-single .related-company-container .single-company a{
	text-decoration:none;
	outline:none;
}



.company-tabs{}
.company-tabs .tab-navs{}
.company-tabs .tab-nav{
    /* width: 200px; */
    padding: 8px 15px;
    background: #ececec;
    margin: 0;
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    float: left;
}
.company-tabs .tab-content{}


.company-tabs .tab-nav.active{
    background:#f5f5f5;
}

.company-tabs .tab-content{
    padding: 15px;
    background: #f5f5f5;
    display: none;
}

.company-tabs .tab-content.active{
    display: block;
}



