@charset "utf-8";
/* CSS Document */

.job-bm-company-list {

}
.job-bm-company-list a{
  text-decoration: none;
}


.job-bm-company-list .list-item{
  margin-bottom: 20px;
}
.job-bm-company-list .company-thumbnail{
  width: 50px;
  height: 50px;
  float: left;
}

.job-bm-company-list .company-details {
  margin-left: 70px;
}

.job-bm-company-list .company-name{}


.job-bm-company-list .company-jobs{}

.job-bm-company-list .company-jobs li{
  margin-left: 15px;
}



.job-bm-company-list  .paginate {
  margin: 30px 0;
  text-align: center;
}
.job-bm-company-list  .paginate .page-numbers,
.job-bm-company-list  .paginate .page-numbers {
  font-size: 17px;
  padding: 7px 13px;
  text-decoration: none;
}

.job-bm-company-list  .paginate .current {
  border: medium none;
}

